body {
    font-family: 'Segoe UI', sans-serif;
    background: #fef9f6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    width: 100%;
    background: #0554cc; /* blu un po' più scuro */
    padding: 1rem 0 1.5rem 0;
    box-sizing: border-box;
    text-align: center;
}

.logo {
    max-width: 300px;
    margin: 0 auto 0.5rem auto;
    display: block;
}

.header-gradient {
    height: 130px;  /* aumentata da 100px a 130px per far scendere la sfumatura */
    background: linear-gradient(to bottom, #0554cc 0%, #fef9f6 100%);
    width: 100%;
}

main {
    padding: 2rem;
    background: white;
    max-width: 650px;
    margin: 0 auto 2rem auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    border-radius: 8px;
}

.preview {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
}

.preview iframe {
    border: none;
    border-radius: 6px;
}

.notice {
    margin-top: 1rem;
    color: #888;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #f7f2f9;
    font-size: 0.9rem;
    color: #777;
}

